@import './base.css';

#app {
  width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 0.85;
}

a {
  text-transform: uppercase;
  color: var(--fontsColor);
  text-decoration: none;
}

li {
  list-style: none;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
    line-height: 1;
  }
  a {
    font-size: 1.5rem;
  }
}
